body,
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #142334;
    font-family: '微軟正黑體';
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    color: rgb(200, 200, 200);
    font-size: 150px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.parts {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 780px;
    justify-content: center;
}

.parts>div {
    display: block;
}

.mask {
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}

.mask>.p {
    width: 100%;
    height: 100%;
    transition: max-width 1s linear;
}

#time .mask {
    height: 10px;
    margin-top: 5px;
}


.mask.d {
    border-color: rgb(200, 200, 200);
}

.mask.d>.p {
    background-color: rgb(200, 200, 200);
}

.mask.m {
    border-color: rgb(35, 160, 52);
}

.mask.m>.p {
    background-color: rgb(35, 160, 52);
}

.mask.h {
    border-color: rgb(44, 128, 161);
}

.mask.h>.p {
    background-color: rgb(44, 128, 161);
}

@keyframes ms {
    0% {
        max-width: 0%; 
    }

    100% {
        max-width: 100%;
    }
}


.mask.s {
    border-color: rgb(168, 57, 57);
}

.mask.s>.p {
    background-color: rgb(168, 57, 57);
    animation: ms 1s linear infinite;
}


#slogan{
    font-size: 55px;
}