<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Clock</title>
    <link rel="stylesheet" href="{{ static_url("clock.css") }}" type="text/css">
</head>

<body>
    <div id="text">

        <div id=slogan>
            ✨加油！你是最胖的！🎉
        </div>
        
        <div id="date">
            <div class="parts">
                <div id="dy"></div>
                <div>.</div>
                <div id="dm"></div>
                <div>.</div>
                <div id="dd"></div>
            </div>
        </div>
        <div id="time">
            <div class="mask d">
                <div class="p"></div>
            </div>
            <div class="parts">
                <div id="th"></div>
                <div>:</div>
                <div id="tm"></div>
                <div>:</div>
                <div id="ts"></div>
            </div>

            <div class="mask h">
                <div class="p"></div>
            </div>
            <div class="mask m">
                <div class="p"></div>
            </div>
            <div class="mask s">
                <div class="p"></div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ static_url("clock.js") }}" type="text/javascript"></script>
</body>

</html>